body{
	background-color: #ff1744;
	background-size:cover;
	

}
.textform
{
	color: #b2dfdb;
	padding-top: 100px;
	padding-left: 100px;
	font-family: sans-serif;
	font-size: 89px;
}

.colorsc{
	color: #fafafa;
	padding-top: 100px;

}
.fadein{
	animation: fadeIn 3s;
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.container{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 59%;
	transform: translate(-50%,-50%);
	width: 100%; 
}
.container span{
	color:  #b2dfdb;
	text-transform: uppercase;
	display: block;
	margin:auto;
	overflow: hidden;

}
.texta{
	color:#b2dfdb;
font-size: 69px;
letter-spacing: 8px;
margin-bottom: -40px;
background:#ff1744;
position: relative;
animation: text 3s 1;

}

@keyframes text{
0%{
	color:#b2dfdb;
	margin-bottom: -40px;
}
30%{
	letter-spacing: 25px;
	margin-bottom: -40px;
}
85%{
	letter-spacing: 8px;
	margin-bottom: -40px;
}
}
header{
	background :#006064;
	color: #ffffff;
	padding-top:30px;
  min-height:70px;
  border-bottom:#ffffff 3px solid;
}

header a{
	 color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
.button {
  background-color: #ffffff;
  border: none;
  color: #ff1744 ;
  padding: 15px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  

}